body{
    width: 100%;
    color: #686868;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
header{
    background-color: #FFEEEE;
    width: 100%;
    height: 100px;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.contenidoH{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    align-content:center ;
}